AIRTABLE_API_KEY=
AIRTABLE_BASE_ID=
RESEND_API_KEY=
CRON_SECRET=
ADMIN_EMAILS=
CSRF_TRUSTED_ORIGINS=http://localhost:3000,https://webflow.com,https://*.webflow.com,https://*.webflow.io
ENVIRONMENT=development
DEBUG_LOGS=false
DEBUG_AIRTABLE=false
BASE_URL=
ASSETS_PREFIX=
NEXT_PUBLIC_BASE_PATH=
